<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app" v-bind:style="{ background: '#' + color }">
        
        <img v-bind:src="img" v-bind:alt="name" v-on:mouseover="toggleShowPrices" v-on:mouseout="toggleShowPrices">
        <h1 v-bind:class="changePercent > 0 ? 'green' : 'red' ">{{ title }}
            <span v-if="changePercent > 0">&#x1F44D;</span>
            <span v-else-if="changePercent < 0">&#x1F44E;</span>
            <span v-else>&#x1F91E;</span>
        </h1>
        <span class="button" v-on:click="toggleShowPrices">{{ showPrices ? '🙈 Ocultar Precios 🙈' : '🐵 Mostrar Precios 🐵' }}</span>
        <ul v-show="showPrices == true">
            <li class="uppercase" v-bind:class="{ orange: p.value == price, red: p.value < price, green: p.value > price }" v-for="(p,i) in pricesWithDays" v-bind:key="i"> {{i}}: {{p.day}} - {{ p.value }}</li>
        </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./index.js" ></script>
</body>
</html>